* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Nvevation bar */

header {
    background-color: #E4E8F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(214, 214, 214);
    border-bottom-color: rgb(28, 147, 252);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* <-- nice soft shadow */
    /* ================ */
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    /* background: white; */
    box-shadow: 0 2px 5px rgb(28, 147, 252);
    transition: 0.3s ease, box-shadow 0.3s ease;
    z-index: 99;
}

header .logo-1 img {
    width: 18%;
    height: 18%;
    margin-left: 30px;
    cursor: pointer;
}

ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

ul a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

ul a::before {
    content: "";
    position: absolute;
    top: 35px;
    height: 2px;
    width: 0px;
    background: #000;
    transition: all 0.2s ease-in-out;
}

ul a.actif::before,
ul a:hover::before {
    content: "";
    position: absolute;
    top: 35px;
    height: 3px;
    width: 38px;
    background: #000;
    border-radius: 5px;
}

ul button {
    padding: 8px 35px;
    background-color: #082F79;
    border-radius: 3px;
    border: none;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border: 1px #082F79 solid;
}

ul button:hover {
    background-color: white;
    color: rgb(54, 64, 120);
    border: 1px rgb(54, 64, 120) solid;
}

/*====== Page d'accueil ========*/

main {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100%;
    height: 100vh;
}

main section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 0px;
}

main section h3 {
    color: #043695;
    font-size: 5vw;
    /* font-size: 60px; */
    font-weight: 500;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

main section h2 {
    color: black;
    font-size: 7vw;
    /* font-size: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-style: normal;
}

section button {
    padding: 1% 3%;
    /* padding: 10px 20px; */
    border: 2px solid #A0B3D6; /* light blue border */
    background-color: white;
    color: #4665c2; /* dark blue text */
    border-radius: 25px; /* rounded pill shape */
    font-family: 'Georgia', serif; /* elegant font */
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.15); /* <-- nice soft shadow */
    transition: background-color 0.9s ease, transform 0.3s ease;
    cursor: pointer;
}

section button:hover {
    color: white;
    background-color: #082F79;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.15); /* <-- nice soft shadow */
}

main section .img1 {
    height: 18%;
    width: 15%;
    /* height: 120px;
    width: 160px; */
}

main section .img2 {
    height: 90px;
    width: 130px;
    /* height: 17%;
    width: 13%; */
}

.min-imgs {
    position: absolute;
    height: 50px;
    width: 50px;
}

.two-pers-talking {
    bottom: 0;
    right: 0;
    width: 20%;
    height: 25%;
    /* width: 15rem;
    height: 12rem; */
}

.lot-chaps {
    bottom: 0;
    left: 1%;
    width: 10%;
    height: 20%;
    /* left: 1rem;
    width: 10rem;
    height: 10rem; */
}

.road {
    bottom: 0;
    left: 18%;
    width: 15%;
    height: 20%;
    /* left: 15rem;
    width: 10rem;
    height: 8rem; */
}

.per-looking {
    bottom: 20%;
    left: 2%;
    width: 12vw;
    height: 30vh;
    /* width: 12rem;
    height: 15rem; */
}

.mini-two-chap {
    bottom: 2%;
    right: 28%;
    width: 10%;
    height: 15%;
    /* right: 20rem;
    width: 10rem;
    height: 8rem; */
}

.paper {
    top: 16%;
    left: 18%;
    width: 10%;
    height: 20%; /* 12 */
    /* top: 5rem;
    left: 15rem;
    width: 8rem;
    height: 8rem; */
}

.profile {
    top: 16%;
    right: 20%;
    width: 10%;
    height: 20%;
    /* top: 5rem;
    right: 20rem;
    width: 8rem;
    height: 8rem; */
}

.tree-chaps-in-right {
    top: 24%;
    right: 4%;
    width: 10%;
    height: 25%;
    /* top: 10rem;
    right: 4rem;
    width: 10rem;
    height: 12rem; */
}

.chap-left {
    top: 30%;
    left: 4%;
    width: 10%;
    height: 15%;
}

.chap-right {
    top: 55%;
    right: 4%;
    width: 7%;
    height: 12%;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInMoveUp 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInMoveUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 

#preloader {
    background: #000 url(images/Spinner-2.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}

/* ==== Section About ====== */

section.about {
    display: flex;
    background-color: #D3E2F9;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: space-around
}

.img-about img {
    width: 260px;
    height: 300px;
    border-radius: 3px;
}

.about-info {
    width: 55%;
}

.about-info h2 {
    color: #082F79;
    font-family: 'Crimson';
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 300;
}

.about-info p {
    color: #001744;
    font-family: 'Alegreya Sans';
    font-size: 30px;
    text-align: center;
    margin-top: 30px
}

@media (max-width: 600px) {
    section.about {
        flex-direction: column;
        height: 90vh;
    }

    .about-info {
        width: 70%;
    }
}

/* ============= Services =================== */
.services {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.services .ser-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.services .ser-head h2 {
    font-size: 3rem;
    width: 20%;
    text-align: center;
    color: #092C6F;
}

.services .acce-stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eff3fff6;
    width: 90vw;
    height: 35vh;
    border: 1px solid #082F79;
    border-radius: 90px;
    padding: 0 70px;
    grid-area: 1 / 2 / 3 / 5;
    z-index: 8;
}

.services .acce-stand .part1 {
    font-size: 30px;
    width: 20%;
    color: #082F79;
    text-align: center;
}

.services .acce-stand .part1 h5 {
    padding-bottom: 15px;
}

.services .acce-stand .part2 {
    position: relative;
    margin-right: 150px;

}

.services .acce-stand .part2 p {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 50px;
    color: #000;
}

.services .acce-stand .part2 img {
    position: absolute;
    top: -90px;
    left: 230px;
    width: 160px;
    height: 160px;
}

.services .acce-stand .part2 p span {
    font-size: 60px;
}

.services .cards {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}

.services .acce-premium {
    background-color: #eff3ffed;
    border: 1px solid #FFA735;
    border-radius: 90px;
    grid-area: 1 / 4 / 6 / 5;
    padding: 0px 50px;
    z-index: 9;
}

.services .acce-premium {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Crimson Tesxt';
}

.services .acce-premium h5 {
    text-align: center;
    color: #FFA735;
    margin-bottom: 30px;
    font-size: 25px;
}

.services .acce-premium p {
    color: #082F79;
    font-size: 22px;
    margin-bottom: 40px;
}

.services .enreprises {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    grid-area: 3 / 2 / 6 / 4;
    background-color: #ffffff;
    border: 1px solid #082F79;
    border-radius: 90px 0px 90px 90px;
    z-index: 5;
}

.services .enreprises img {
    height: 130px;
    width: 180px;
}

.services .enreprises .enrep2 p {
    padding-bottom: 15px;
    width: 250px;
    color: #082F79;
    font-size: 22px;
}

.enrep1 p {
    text-align: center;
    font-size: 35px;
    font-family: 'Ysabeau SC', sans-serif;
}

.img-bckgrd img {
    position: absolute;
    /* width: 100px;
    height: 100px; */
}

.img-bckgrd img.i1 {
    top: 0;
    left: 300px;
    width: 45px;
    height: 45px;
    transform: rotate(0.1turn);
}

.img-bckgrd img.i2 {
    top: 70px;
    left: 400px;
    width: 40px;
    height: 40px;
    transform: rotate(-1turn);
}

.img-bckgrd img.i3 {
    top: 30px;
    left: 15px;
    width: 55px;
    height: 55px;
    transform: rotate(-1turn);
}

.img-bckgrd img.i4 {
    top: 70px;
    left: 150px;
    width: 45px;
    height: 45px;
    transform: rotate(0.1turn);
}

.img-bckgrd img.i5 {
    top: 90px;
    left: 100px;
    width: 25px;
    height: 25px;
    transform: rotate(0.1turn);
}

.img-bckgrd img.i6 {
    top: 90px;
    left: 0px;
    width: 38px;
    height: 38px;
    transform: rotate(0.1turn);
}

.img-bckgrd img.i7 {
    top: 110px;
    left: 15px;
    width: 110px;
    height: 110px;
    z-index: 5;
}

.img-bckgrd img.i8 {
    top: 120px;
    left: 200px;
    width: 110px;
    height: 110px;
    /* transform: rotate(0.09turn); */
    z-index: 5;
}

.img-bckgrd img.i9 {
    top: 40px;
    right: 200px;
    width: 80px;
    height: 90px;
    /* transform: rotate(0.09turn); */
    z-index: 5;
}

.img-bckgrd img.i10 {
    top: 130px;
    left: 600px;
    width: 50px;
    height: 50px;
    transform: rotate(0.1turn);
    z-index: 5;
}

.img-bckgrd img.i11 {
    top: 220px;
    left: 200px;
    width: 110px;
    height: 110px;
    /* transform: rotate(0.09turn); */
    z-index: 5;
}

.img-bckgrd img.i12 {
    top: 325px;
    left: 530px;
    width: 80px;
    height: 80px;
    transform: rotate(0.99turn);
    z-index: 3;
}

.img-bckgrd img.i13 {
    top: 325px;
    left: 650px;
    width: 80px;
    height: 80px;
    z-index: 3;
    transform: rotate(0.9999turn);
}

img.i14 {
    position: absolute;
    top: 500px;
    right: 20px;
    width: 90px;
    height: 90px;
    transform: rotate(-1.1turn);
}

/* ============= Services =================== */

.ecole-parent {
    display: flex;
    justify-content: space-around;
    height: 350px;
}

.services .ecole {
    background-color: #e5eefdf6;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 90px;
    gap: 50px;
    z-index: 7;
}

.ecol-text {
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.services .ecole .ecol-text p {
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 20px;
    color: #082F79;
    font-size: 20px;
}

.services .ecole .ecol-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .ecole .ecol-title img {
    width: 300px;
    height: 180px;
}

.services .ecole .ecol-title h3 {
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
    text-transform: uppercase;
    width: 300px;
}

.road_img {
    position: absolute;
    bottom: -20px;
    transform: rotate(-0turn);
    z-index: 5;
}

/* ============= sponsseur part ================================== */

.sponseur {
    background-color: #D5DAE5;
    padding-top: 30px;
    /* padding-bottom: 60px; */
    margin-top: 17px;
    position: relative;
}

.sponseur .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #082F79;
}

.spenseur-imgs {
    padding-top: 50px;
}

.spenseur-img img {
    width: auto;
    height: auto;
}

.imgs-line2,
.imgs-line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 150px;
}

.imgs-line2 img,
.imgs-line1 img {
    width: auto;
    height: auto;
}

.imgs-line2 div,
.imgs-line1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maroc img {
    width: 120px;
}

.encg img {
    width: 150px;
}

.enactus img {
    width: 230px;
    padding-bottom: 50px;
}

.telecom img {
    width: 160px;
}

.oncf img {
    width: 250px;
}

.Le360 img {
    width: 150px;
}

.onep img {
    width: 140px;
}

/* ====== footer ======================== */

.footer {
    background-color:#D5DAE5;

}

.footer-prnt {
    background-color: #E4E8F0;
    padding: 40px 0;
    border-radius: 90px 90px 0 0;
    width: 100%;
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 10px;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.footer-info .parti1 {
    font-weight: 900;
    font-size: 20px;
}

.footer-info .parti1 p  {
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-info .parti1 a {
    color: #000;
    font-size: 900;
}

.footer-info .social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.footer-info .social-media img {
    width: 35px;
}

.footer-info .parti2 p {
    font-size: 35px;
    font-weight: 1000;
}

.img-footer img {
    width: 130px;
}